<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <div class="container text-center text-md-left">
        <div class="row">

        <!--Pierwsza kolumna-->
        <div class="col-md-4">
            <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Tekst</h5>
            <p>
                {{frangmentLoremIpsum}}
            </p>
        </div>
        <!--Pierwsza kolumna-->

        <hr class="clearfix w-100 d-md-none">

        <!--Druga kolumna-->
        <div class="col-md-2 mx-auto">
            <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
               
            </ul>
        </div>
        <!--Druga kolumna-->

        <hr class="clearfix w-100 d-md-none">

        <!--Trzecia kolumna-->
        <div class="col-md-2 mx-auto">
            <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                
             
                
            </ul>
        </div>
        <!--Trzecia kolumna-->

        <hr class="clearfix w-100 d-md-none">

        <!--Czwarta kolumna-->
        <div class="col-md-2 mx-auto">
            <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                
               
            </ul>
        </div>
        <!--Czwarta kolumna-->
    </div>
</div>


</footer>

