<div class="jumbotron">
  <h1 class="display-4">Witaj drogi użytkowniku!</h1>
    <p class="lead">System do kompletnej obsługi turniejów. Usprawnia wszelkie procesy które nastarczają trudności przy tworzeniu zawodów, i braniu w nich udziału. Z nami ominiesz zbędne formalności, kompletne narzędzie zawsze pod ręką.</p>
     <hr class="my-4">
    <p>Dołącz do nas by utworyć turniej na miarę XXI wieku !</p>
    <!-- <p class="lead"><a [routerLink]='' class="btn btn-primary btn-lg" role="button">Rejestracja</a></p> -->
    <p class="lead"><a [routerLink]="['/register']" class="btn btn-primary btn-lg">Rejestracja</a></p>
    
</div>
<div class="jumbotron">
  <h1 class="display-4">Witaj drogi użytkowniku!</h1>
    <p class="lead">System do kompletnej obsługi turniejów. Usprawnia wszelkie procesy które nastarczają trudności przy tworzeniu zawodów, i braniu w nich udziału. Z nami ominiesz zbędne formalności, kompletne narzędzie zawsze pod ręką.</p>
     <hr class="my-4">
    <p>Dołącz do nas by utworyć turniej na miarę XXI wieku !</p>
    <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Rejestracja</a></p>
</div>
<div class="jumbotron">
  <h1 class="display-4">Witaj drogi użytkowniku!</h1>
    <p class="lead">System do kompletnej obsługi turniejów. Usprawnia wszelkie procesy które nastarczają trudności przy tworzeniu zawodów, i braniu w nich udziału. Z nami ominiesz zbędne formalności, kompletne narzędzie zawsze pod ręką.</p>
     <hr class="my-4">
    <p>Dołącz do nas by utworyć turniej na miarę XXI wieku !</p>
    <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Rejestracja</a></p>
</div>

  
<!-- STOPKA -->

<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
  <div class="container text-center text-md-left">
        <div class="row">

        <!--Pierwsza kolumna-->
        <div class="col-md-4">
            <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Tekst</h5>
            <p>test testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest test</p>
        </div>
        <!--Pierwsza kolumna-->

        <hr class="clearfix w-100 d-md-none">

        <!--Druga kolumna-->
        <div class="col-md-2 mx-auto">
            <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                <li>
                    <a href="#!">Link 2</a>
                </li>
                <li>
                    <a href="#!">Link 3</a>
                </li>
                <li>
                    <a href="#!">Link 4</a>
                </li>
            </ul>
        </div>
        <!--Druga kolumna-->

        <hr class="clearfix w-100 d-md-none">

        <!--Trzecia kolumna-->
        <div class="col-md-2 mx-auto">
            <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                <li>
                    <a href="#!">Link 2</a>
                </li>
                <li>
                    <a href="#!">Link 3</a>
                </li>
                <li>
                    <a href="#!">Link 4</a>
                </li>
            </ul>
        </div>
        <!--Trzecia kolumna-->

        <hr class="clearfix w-100 d-md-none">

        <!--Czwarta kolumna-->
        <div class="col-md-2 mx-auto">
            <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                <li>
                    <a href="#!">Link 2</a>
                </li>
                <li>
                    <a href="#!">Link 3</a>
                </li>
                <li>
                    <a href="#!">Link 4</a>
                </li>
            </ul>
        </div>
        <!--Czwarta kolumna-->
    </div>
</div>


<hr>