

<div class="jumbotron">
  <h1 class="display-4">Witaj drogi użytkowniku!</h1>
    <p class="lead">System do kompletnej obsługi turniejów. Usprawnia wszelkie procesy które nastarczają trudności przy tworzeniu zawodów, i braniu w nich udziału. Z nami ominiesz zbędne formalności, kompletne narzędzie zawsze pod ręką.</p>
     <hr class="my-4">
    <p>Dołącz do nas by utworyć turniej na miarę XXI wieku !</p>
    <!-- <p class="lead"><a [routerLink]='' class="btn btn-primary btn-lg" role="button">Rejestracja</a></p> -->
    <p class="lead"><a [routerLink]="['/register']" class="btn btn-primary btn-lg">Rejestracja</a></p>
    
</div>
<div class="jumbotron">
  <h1 class="display-4">Witaj drogi użytkowniku!</h1>
    <p class="lead">System do kompletnej obsługi turniejów. Usprawnia wszelkie procesy które nastarczają trudności przy tworzeniu zawodów, i braniu w nich udziału. Z nami ominiesz zbędne formalności, kompletne narzędzie zawsze pod ręką.</p>
     <hr class="my-4">
    <p>Dołącz do nas by utworyć turniej na miarę XXI wieku !</p>
    <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Rejestracja</a></p>
</div>
<div class="jumbotron">
  <h1 class="display-4">Witaj drogi użytkowniku!</h1>
    <p class="lead">System do kompletnej obsługi turniejów. Usprawnia wszelkie procesy które nastarczają trudności przy tworzeniu zawodów, i braniu w nich udziału. Z nami ominiesz zbędne formalności, kompletne narzędzie zawsze pod ręką.</p>
     <hr class="my-4">
    <p>Dołącz do nas by utworyć turniej na miarę XXI wieku !</p>
    <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Rejestracja</a></p>
</div>
  



