<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="Stylesheet" type="text/css" href="style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
		<script src="nav.js"></script>
		<title>BJJ</title>
	</head>
	
	<body>
		
		
		<!-- MENU URZĄDZENIA MOBILNE -->
		
		<div class="wrap-all">
			<span class="navigation-toggle">
				<span></span>
				<span></span>
				<span></span>
			</span>

			<nav class="navigation" role="navigation">
				<h1 href="" class="logo">
					MENU
				</h1>
			<ul>
				<li><a href="">Strona główna</a></li>
				<li><a href="">Zawody</a></li>
				<li><a href="">O nas</a></li>
				<li><a href="">Kontakt</a></li>
				<li><a href="" data-toggle="modal" data-target="#exampleModal">Zaloguj się</a></li>
			</ul>
			</nav>
		</div>

		<!-- MENU DESKTOPOWE -->
		
		<nav id="global-nav">
			 <div class="buttons">
				<a href="#"><img src="https://image.ibb.co/cxqoSH/bjj.png" class="logo" alt="logo" border="0"></a>
		 		<a href="#" class="btn btn-outline-primary" role="button">Strona główna</a>   					
        		<a href="#" class="btn btn-outline-primary" role="button">Zawody</a>     					
       			<a href="#" class="btn btn-outline-primary" role="button">O nas</a>   					
        		<a href="#" class="btn btn-outline-primary" role="button">Kontakt</a>
				<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Zaloguj się</button>
			 </div>
		</nav>
		
		
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
     				 <div class="modal-header">
       				 	<h5 class="modal-title" id="exampleModalLabel">Zaloguj się</h5>
        			 	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
         			 	<span aria-hidden="true">&times;</span>
       				 	</button>
      				 </div>
      				 <div class="modal-body">
       					 <div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" ng-submit="vm.login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Login</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/register" class="btn btn-link">Register</a>
        </div>
    </form>
</div>
     				 </div>
      				 <div class="modal-footer">
        				<a href="rejestracja/register/register.view.html"  data-toggle="modal" data-target="#exampleModale" class="btn btn-outline-danger" role="button">Zarejestruj się</a>
      				 </div>
    			</div>
 		 	</div>
		</div>
		
		<div class="modal fade" id="exampleModale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rejestracja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        	<form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">Imię</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Nazwisko</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />
            
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Nazwa użytkownika</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Hasło</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-outline-primary">Zarejestruj się</button>
            
            
        </div>
    </form>
      </div>
      
    </div>
  </div>
</div>
	

	<!-- BODY -->
		
	<div class="jumbotron">
  		<h1 class="display-4">Witaj drogi użytkowniku!</h1>
  			<p class="lead">System do kompletnej obsługi turniejów. Usprawnia wszelkie procesy które nastarczają trudności przy tworzeniu zawodów, i braniu w nich udziału. Z nami ominiesz zbędne formalności, kompletne narzędzie zawsze pod ręką.</p>
 				<hr class="my-4">
  			<p>Dołącz do nas by utworyć turniej na miarę XXI wieku !</p>
  			<p class="lead"><a href="rejestracja/register/register.view.html"  data-toggle="modal" data-target="#exampleModale" class="btn btn-outline-primary" role="button">Zarejestruj się</a></p>
	</div>
	<div class="jumbotron">
  		<h1 class="display-4">Witaj drogi użytkowniku!</h1>
  			<p class="lead">System do kompletnej obsługi turniejów. Usprawnia wszelkie procesy które nastarczają trudności przy tworzeniu zawodów, i braniu w nich udziału. Z nami ominiesz zbędne formalności, kompletne narzędzie zawsze pod ręką.</p>
 				<hr class="my-4">
  			<p>Dołącz do nas by utworyć turniej na miarę XXI wieku !</p>
  			<p class="lead"><a href="rejestracja/register/register.view.html"  data-toggle="modal" data-target="#exampleModale" class="btn btn-outline-primary" role="button">Zarejestruj się</a></p>
	</div>
	<div class="jumbotron">
  		<h1 class="display-4">Witaj drogi użytkowniku!</h1>
  			<p class="lead">System do kompletnej obsługi turniejów. Usprawnia wszelkie procesy które nastarczają trudności przy tworzeniu zawodów, i braniu w nich udziału. Z nami ominiesz zbędne formalności, kompletne narzędzie zawsze pod ręką.</p>
 				<hr class="my-4">
  			<p>Dołącz do nas by utworyć turniej na miarę XXI wieku !</p>
  			<p class="lead"><a href="rejestracja/register/register.view.html"  data-toggle="modal" data-target="#exampleModale" class="btn btn-outline-primary" role="button">Zarejestruj się</a></p>
	</div>
		
		  
    <!-- STOPKA -->
		
	<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">
    	<div class="container text-center text-md-left">
       		 <div class="row">

            <!--Pierwsza kolumna-->
            <div class="col-md-4">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Tekst</h5>
                <p>test testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest testtest test</p>
            </div>
            <!--Pierwsza kolumna-->

            <hr class="clearfix w-100 d-md-none">

            <!--Druga kolumna-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--Druga kolumna-->

            <hr class="clearfix w-100 d-md-none">

            <!--Trzecia kolumna-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--Trzecia kolumna-->

            <hr class="clearfix w-100 d-md-none">

            <!--Czwarta kolumna-->
            <div class="col-md-2 mx-auto">
                <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!--Czwarta kolumna-->
        </div>
    </div>
    

    <hr>

    
    <div class="text-center py-3">
        <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item">
                <h5 class="mb-1">Zarejestruj się za darmo</h5>
            </li>
            <li class="list-inline-item">
                <a href="#!" class="btn btn-danger btn-rounded">Dołącz do nas!</a>
            </li>
        </ul>
    </div>
    

    <hr>

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright ZPI
    </div>
    <!--Copyright-->

</footer>
		
	</body>
</html>