body{
	margin-top: 200px;
}
.jumbotron{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 100px;
	height: 450px;
}
footer{
	background-color: #e9ecef;
}
button{
	padding: 0px;
	margin: 5px;
}
#global-nav{
	top: 0;
	position: fixed;
  	width: 100%;
	z-index: 1;
	height: 100px;
	line-height: 100px;
	background-color: #e9ecef;
	-webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}
.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
	
}
.scrolled-nav img.logo{
	width: 150px; 
	height: 150px;
	top: -37px;
	-webkit-transition: all .5s;
    transition: all .5s;
}
a.btn.btn-outline-primary{
	margin: 5px;
}
a.btn.btn-outline-primary.open-menu{
	display: none;
}
a.btn.btn-outline-primary.hide{
	display: none;
}
.scrolled-nav .btn.btn-outline-primary{
	padding: .365rem .65rem;
	font-size: 13px;
	-webkit-transition: all .5s;
    transition: all .5s;
}
img.logo{
	top: -50px;
	z-index: 2;
	position: fixed;
	width: 200px; 
	height: 200px;
	-webkit-transition: all .5s;
    transition: all .5s;
	left: 10%;
	
	
}
.buttons{
	float: right;
	margin-right: 12%;
}
.wrap-all{
	display: none;
}

/*MENU DLA URZĄDZEŃ MOBILNYCH*/
@media only screen and (max-width: 960px) {
	
.wrap-all {
		display: block;
		overflow: hidden;
		width:100%;
		position: relative;
}
.navigation-toggle {
		position:fixed;
		top:10px;
		right:10px;
		width:40px;
		height:40px;
		background: #222;
		border-radius:2px;
		display: block;
		z-index: 100;
		cursor: pointer;
}
.navigation-toggle span {
		width:20px;
		height:3px;
		margin:4px 10px;
		display: block;
		background: #fff;
		border-radius:1px;
}
.navigation-toggle span:first-child {
		margin-top:12px;
}
.navigation {
		z-index: 2;
		min-height: 100%;
		font-family:'Source Sans Serif', sans-serif;
		font-weight:300;
		font-size:14px;
		position: fixed;
		top:0;
		left:-250px;
		width:250px;
		background: #e9ecef;
		height:100%;
		overflow: hidden;
		overflow-y:auto;
		color:#42505A;
		-webkit-transition: 0.5s left;
		-moz-transition: 0.5s left;
		-ms-transition: 0.5s left;
		-o-transition: 0.5s left;
		transition: 0.5s left;
}
.navigation a {
		display: block;
		color:#000000;
}
.navigation ul {
		list-style:none;
		padding:0;
		margin:20px 0;
}
.navigation ul li {
		text-transform: uppercase;
		font-weight:600;
}
.navigation ul li:last-child {
		border-bottom:0;
}
.navigation ul li a {
		height:50px;
		line-height: 50px;
		text-decoration: none;
		padding:0 20px 0 30px;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
}
.navigation ul li a:hover {
		background:#3BB4BC;
		color:#fff;
		border-left:6px solid #329EA5;
}
.navigation .logo {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  	font-size: 40px;
  	padding: 80px 50px;
  	text-align: center;
  	text-transform: uppercase;
  	text-rendering: optimizeLegibility;
    color: #131313;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
}
navigation-show .page-content {
	left:250px;
}
.navigation-show .navigation {
	box-shadow:0 2px 10px rgba(0,0,0,0.2);
	left:0;
}
img.logo{
	left: 30%;
}
a.btn.btn-outline-primary{
	display: none;
}
	
}
