body{
	margin-top: 150px;
}
.jumbotron{
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 100px;
}
p.lead{
	float: right;
}
footer{
	background-color: #e9ecef;
	}
button{
	padding: 0px;
	margin: 5px;
}
#global-nav{
	top: 0;
	position: fixed;
  	width: 100%;
	z-index: 1;
	height: 100px;
	line-height: 100px;
	background-color: #e9ecef;
}
a.btn.btn-outline-primary{
	margin: 5px;
}
.logo{
	z-index: 2;
	
}
img.logo{
	
	top: -50px;
	left: 400px;
	overflow: hidden;
  	position: fixed;
	
}
.buttons{
	float: right;
	margin-right: 400px;
}
