
<div *ngFor="let turnie of kategorie | async ">

    
  
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{turnie.id}}
                </button>
                
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
            
                    <div *ngFor="let tur of turnie.gi | keysPipe">
                    <li class="dropdown-submenu">
                      <a  class="dropdown-item" tabindex="-1" href="#">{{tur.key}}</a>
                      <ul class="dropdown-menu">
                          <div *ngFor="let tu of tur.value | keysPipe">
                        <li class="dropdown-submenu">
                          <a class="dropdown-item" href="#">{{tu.value.nazwa }}</a>
                          <ul class="dropdown-menu">
                            
                              <li class="dropdown-submenu">
                                  <div *ngFor="let humek of katu | async ">
                         
                                    <div *ngIf="tu.value.nazwa == humek.waga">
                                      <div *ngIf="tur.key == humek.pas">
                                      <a class="dropdown-item" href="#">{{humek.nazwa}}</a>
                                    </div>
                                  </div>
                                  </div>

                                  
                                </li>
                            </ul>
                        </li>
                        </div>
                      </ul>
                    </li>
                  </div>
                  </ul>
                
            </div>
     

      