<div class="card text-center">
  <div class="card-header">
    <div class="new">
      <input class="form-control" (keyup)="onKey($event)" placeholder="Szukaj">
      <a routerLink="/stworz_turniej" class="btn btn-outline-primary stworz">Stwórz nowy turniej</a>
    </div>
  </div>
  <div>

    <div class="navlist">
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr>
              <th class="col-sm">Turniej</th>
              <th class="col-sm">Miasto</th>
              <th class="col-sm">Kategoria</th>
              <th class="col-sm">Data turnieju</th>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
    <div class="lista" *ngFor="let turnie of turnieje ">

      <ng-container *ngIf="turnie.nazwa.substring(0,values.length).toUpperCase() == values.toUpperCase()">

        <div class="Row" [routerLink]="['/zapisany', turnie.id]">
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th class="col-sm">{{turnie.nazwa}}</th>
                  <th class="col-sm">{{turnie.miejsce}}</th>
                  <th class="col-sm"> {{turnie.kategoria}}</th>
                  <th class="col-sm">{{turnie.kiedy | date}}</th>
                </tr>
              </tbody>
            </table>


          </div>
        </div>
      </ng-container>
    </div>

  </div>
</div>