<!-- dodaj miejscowość -->
<div class="pole" *ngFor="let turnie of turnieje | async ">
  <div *ngIf="turnie.id === current">

    <!-- dodaj miejscowość -->
    <form #turniejForm="ngForm" (ngSubmit)="update()">
      <div class="card text-black bg-white" style="margin: 50px">
        <div class="card-header text-white bg-primary "  >
          <h3 class="panel-title" style="float: left ;">Szczegóły turnieju  </h3> 
          <button style="float: right ;" [routerLink]="['/zapiszSie', turnie.id]" class="btn btn-primary">Zapisz się</button>
        </div>
        <div class="card-body ">

          <div class="row">
            <div class="form-group col-lg-6">

              <label for="nazwaTurnieju" class="col-form-label " style="font-size:120%">Nazwa Turnieju:</label>
              <div class="divek" style="width:50%">{{turnie.nazwa}}</div>


              <label for="miasto" style="font-size:120%">Miasto:</label>
              <div class="divek" style="width:50%">{{turnie.miejsce}}</div>


              <label for="nrkonta">Nr konta:</label>
              <div class="divek" style="width:50%">{{turnie.nr_konta}}</div>

              <label for="wpisowe">Wpisowe:</label>
              <div class="divek" style="width:50%">{{turnie.wpisowe}}</div>

              <div class="form-group " >
                  <label>Kategoria:</label>
                  <div class="form-control" style="width:10%">
                    
                      {{turnie.kategoria}}
                   
                  </div>
                </div>

              <div style="display:inline-flex">
                <div class="form-group " style="margin:5px">
                  <label for="data">Data Turnieju:</label>
                  <div class="divek" style="">{{turnie.kiedy}}</div>
                </div>

                <div class="form-group " style="margin:5px">
                  <label for="datakonca">Data końca rejestracji:</label>
                  <div class="divek" style="width:60%">{{turnie.do_kiedyrej}}</div>
                </div>
              </div>
            </div>
            <div class="form-group col-lg-6">
              <label for="opisturnieju" style="font-size:120%">Opis Turnieju:</label>
              <div class="divek" style="width:80%;height:40%" cols="30" rows="10">{{turnie.opis}}</div>
              <div class="form-group "style="margin:5px">
                  <div class="row">
                      <div class="form-group col-lg-4" >
                          <label style="font-size:120%">Zapisani:</label>
                      </div>
          
                        <div class="form-group col-lg-4">
                            <label style="font-size:120%">Pas:</label>
                          </div>
                          <div class="form-group col-lg-4">
                              <label style="font-size:120%">Waga:</label>
                            </div>
                    </div>
                  <div id="" style="overflow-y:scroll;overflow-x:hidden;border-style:inset">
                      <div *ngFor="let zapi of zapisani | async">
                        <div class="row" >
                            <div  class="column col-lg-4 ">
                                <label >{{zapi.nazwa}}</label>
                            </div>
                            
                              <div  class="column col-lg-4 ">
                                  <label >{{zapi.pas}}</label>
                              </div>
                              <div class="column col-lg-4">
                                  <label >{{zapi.waga}}</label>
                                </div>
                        </div>
                        </div>
                  </div>
              </div>
                

            </div>
            
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>