<!-- dodaj miejscowość -->
<div class="pole" *ngFor="let turnie of turnieje | async ">
  <div *ngIf="turnie.id === current">

    <!-- dodaj miejscowość -->
    <form #turniejForm="ngForm" (ngSubmit)="update()">
      <div class="card text-black bg-white" style="margin: 50px">
        <div class="card-header">
          <h3 class="panel-title" style="float: left ;">Szczegóły turnieju</h3>
          <button class="btn btn-outline-primary" [routerLink]="['/listadrabinek',current]">Drabinki</button>
          <button class="btn btn-outline-primary" [routerLink]="['/wyniki', current]">Wyniki</button>


          <form>
            <button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModall">Zapisz się</button>
          </form>
          <!-- [routerLink]="['/zapiszSie', turnie.id]" -->
          <div class="modal fade" id="exampleModall" tabindex="-1" role="dialog" aria-labelledby="exampleModallLabele" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Dołącz do "{{turnie.nazwa}}"</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <app-form-zapisz-sie></app-form-zapisz-sie>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="form-group col-lg-6">

              <label for="nazwaTurnieju" class="col-form-label " style="font-size:120%">Nazwa Turnieju:</label>
              <div class="divek" style="width:50%">{{turnie.nazwa}}</div>


              <label for="miasto" style="font-size:120%">Miasto:</label>
              <div class="divek" style="width:50%">{{turnie.miejsce}}</div>


              <label for="nrkonta" style="font-size:120%">Nr konta:</label>
              <div class="divek" style="width:50%">{{turnie.nr_konta}}</div>

              <label for="wpisowe" style="font-size:120%">Wpisowe:</label>
              <div class="divek" style="width:50%">{{turnie.wpisowe}}</div>

              <div class="form-group">
                <label style="font-size:120%">Kategoria:</label>
                <div class="divek">

                  {{turnie.kategoria}}

                </div>
              </div>

              <div>
                <div class="form-group">
                  <label for="data" style="font-size:120%">Data Turnieju:</label>
                  <div class="divek">{{turnie.kiedy}}</div>
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label for="datakonca" style="font-size:120%">Data końca rejestracji:</label>

                  <div class="divek" style="width:60%">{{turnie.do_kiedyrej}}</div>
                </div>
              </div>
              <br>
              <br>
              <label for="opisturnieju" style="font-size:120%">Opis Turnieju:</label>
              <div class="opistruniej">{{turnie.opis}}</div>
            </div>
            <div class="form-group col-lg-6">
              <div class="list">

                <div class="navlist">
                  <div class="table-responsive">
                    <table class="table">
                      <th class="col-sm" style="font-size:120%">Zapisani</th>
                      <th class="col-sm" style="font-size:120%">Klub</th>
                      <th class="col-sm" style="font-size:120%">Pas</th>
                      <th class="col-sm" style="font-size:120%">Waga</th>
                    </table>
                  </div>
                </div>
                <div class="listzaw">


                  <div *ngFor="let zapi of zapisani | async">

                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th class="col-sm">{{zapi.nazwa}}</th>
                            <th class="col-sm">{{zapi.klub}}</th>
                            <th class="col-sm">{{zapi.pas}}</th>
                            <th class="col-sm">{{zapi.waga}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div *ngFor="let zapi of zapisaniNogi | async">

                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th class="col-sm">{{zapi.nazwa}}</th>
                            <th class="col-sm">{{zapi.klub}}</th>

                            <th class="col-sm">{{zapi.pas}}</th>
                            <th class="col-sm">{{zapi.waga}}</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>