<div class="container">
        <p class="h2">O nas</p>

        <p class="lead" id="onas">Jesteśmy studentami 3-ciego roku Politechniki Wrocławskiej. Aplikacja powstała w ramach zajęć Zespołowego Przedsięwzięcia
            Inżynierskiego. Oprogramowanie powstało w celu wspomagania procesu organizacji turniejów brazylijskiego Jiu-Jitsu
            oraz monitorowania wyników walk w trybie online. Wszystkie osoby zainteresowane współpracą zapraszamy do wypełnienia
            formularza kontaktowego.</p>
            <ng-container *ngIf="czywyslany">
                <div class="alert alert-success" role="alert">
                    Wiadomość zostałą wysłana pomyślnie :)
                </div>
            </ng-container>

    <form ngForm #f="ngForm"  >
    
            <p class="h4">Formularz kontaktowy</p>
        <div>
            <div class="form-group col-md-3">
                <label for="email">E-mail kontaktowy</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" #email="ngModel" name="email" ngModel required
                    placeholder="E-mail do kontaktu">
            </div>
            <div class="form-group col-md-10" >
                <label for="pytanie">Zadaj pytanie</label>
                <textarea 
                    class="form-control" 
                    placeholder="Wpisz wiadomość"
                    #pytanie="ngModel" 
                    name="pytanie" 
                    ngModel 
                    required 
                    id="pytanie" 
                    rows="8">
                    
                </textarea>
            </div>

            <button  (click)="ss(f)" [disabled]="!f.form.valid" type="submit" class="btn btn-primary">Wyślij pytanie</button>
            
        </div>
    </form>
</div>
