<div class="container">
  <nav class="navbar navbar-light bg-light navbar-expand-md">
    <ul class="nav navbar-nav">
        <div class="nav-item">
        <li >
            <div class ="navbar-brand">
            <a  routerLink="/lista_turniejow" class="col-sm" >Lista Turniejów</a>
            <a routerLink="/stworz_turniej" class="col-sm" >Stwórz Turniej</a>
          </div>
        </li>
      </div>
    </ul>
</nav>

</div>
<br>
<br>
<br>
<br>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a routerLink="/stworz_turniej" class="nav-link active">Stwórz nowy turniej</a>
      </li>
    </ul>
  </div>
  <div>
    <app-lista-turnieji></app-lista-turnieji>
  </div>
</div>