.jumbotron{
	
	margin: 20px ;
	
}
.listzaw{
    height: 840px;
    overflow-y: auto;
}
.list{
    text-align: center;
    border: 0.5px solid #A8A8A8;
    border-radius: 10px;
    margin: 5px;
    
}
.pole{
    width: 80%;
    margin: 0 auto;
}
.navlist{
    width: 100%;
    margin: 0 auto;
    color: black;
    border-radius: 10px 10px 0 0px;
	display: block;
	text-align: center;
}
th.col-sm{
    width: 20%;
    font-style: normal;
    text-shadow: none;
    font-weight: normal;
}
tbody{
    width: 70%;
    max-height: 230px;
    overflow-y: auto;
    
}