
<!-- {{turnieje.id | async }} -->

<div *ngIf="turnieje ">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">Nazwa:</div>
        <div class="col-sm">{{turnieje.nazwa }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">Opis:</div>
        <div class="col-sm">{{turnieje.opis }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">Kategoria:</div>
        <div class="col-sm">{{turnieje.kategoria }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">Miejsce :</div>
        <div class="col-sm">{{turnieje.miejsce }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">Numer konta:</div>
        <div class="col-sm">{{turnieje.nr_konta}} </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">Wpisowe:</div>
        <div class="col-sm">{{turnieje.wpisowe }} </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">Data zawodów:</div>
        <div class="col-sm">{{turnieje.kiedy }} </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm">Koniec rejestracji: </div>
        <div class="col-sm">{{turnieje.do_kiedyrej }} </div>
      </div>
    </li>
  </ul>
</div>


<app-form-zapisz-sie></app-form-zapisz-sie>