



  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card bg-light card-body mb-3 text-primary">
        <span class="title"></span>
        <span class="text-muted">
          
          {{nazwaturnieju}}

        </span>

      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  
  <ng-container *ngFor="let waga of wagi ">
      <ng-container *ngFor="let pas of pasy ">
        <button (click)='opusmagnum(waga,pas)'>Generuj drabinke {{pas}} {{waga}} </button>

    </ng-container>
  </ng-container>