<!-- dodaj miejscowość -->

<!-- dodaj miejscowość -->
<form #turniejForm="ngForm" (ngSubmit)="add()">
  <div class="card text-black bg-white" style="margin: 50px">

    <div class="card-body ">

      <div class="row">
        <div class="form-group col-lg-6">

          <label for="nazwaTurnieju" class="col-form-label " style="font-size:120%">Nazwa Turnieju:</label>
          <input class="form-control" id="nazwaTurnieju" required type="text" class="form-control" required ngModel name="nazwaTurnieju" #nazwaTurnieju="ngModel"
            reuqired minlength="3" maxlength="10" [(ngModel)]="selectedModeloo.nazwa" style="width:50%">
            <div class = "alert alert-danger" *ngIf="nazwaTurnieju.touched && !nazwaTurnieju.valid" style="width:50%">Nazwa Turnieju jest wymagana</div>
            <!-- <div *ngIf="nazwaTurnieju.errors.reuqired">Nazwa Turnieju jest wymagana</div> -->
            <!-- <div *ngIf="nazwaTurnieju.errors.minlength">Nazwa Turnieju powinna posiadać min 3 znaki</div> -->
          

          <label for="miasto" style="font-size:120%">Miasto:</label>
          <input id="miasto" type="text" class="form-control" name="miasto" #miasto="ngModel" [(ngModel)]="selectedModeloo.miejsce"
            style="width:50%">

          <label for="nrkonta">Nr konta:</label>
          <input id="nrkonta" type="text" class="form-control" name="nrkonta" #nrkonta="ngModel" [(ngModel)]="selectedModeloo.nr_konta"
            style="width:50%">
          <label for="wpisowe">Wpisowe:</label>
          <input id="wpisowe" type="text" class="form-control" name="wpisowe" #wpisowe="ngModel" [(ngModel)]="selectedModeloo.wpisowe"
            style="width:20%">

          <div class="form-group ">
            <label>Wybierz Kategorie:</label>
            <div class="form-control" style="width:30%">
              <div>
                <input type="radio" name="kategoria" value="gi" name="kategoria" #wpisowe="ngModel" [(ngModel)]="selectedModeloo.kategoria"> Gi
              </div>
              <div>
                <input type="radio" name="kategoria" value="nogi" name="kategoria" #wpisowe="ngModel" [(ngModel)]="selectedModeloo.kategoria"> No Gi
              </div>
              <!-- <div>
                          <input type="radio" name="kategoria" value="Gi oraz No Gi"> Gi oraz No Gi
                        </div> -->
            </div>

            <!-- <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                          Default radio
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Second default radio
                        </label>
                      </div> -->
          </div>

          <div style="display:inline-flex">
            <div class="form-group " style="margin:5px">
              <label for="data">Data Turnieju:</label>
              <input id="data" type="date" class="form-control" name="data" #data="ngModel" [(ngModel)]="selectedModeloo.kiedy" />
            </div>

            <div class="form-group " style="margin:5px">
              <label for="datakonca">Data końca rejestracji:</label>
              <input id="datakonca" type="date" class="form-control" name="datakonca" #datakonca="ngModel" [(ngModel)]="selectedModeloo.do_kiedyrej"
              />
            </div>
          </div>

        </div>
        <div class="form-group col-lg-6">
          <label for="opisturnieju" style="font-size:120%">Opis Turnieju:</label>
          <textarea id="opisturnieju" cols="30" rows="10" type="text" class="form-control" name="opisturnieju" #opisturnieju="ngModel"
            [(ngModel)]="selectedModeloo.opis">
                </textarea>   

        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary" [disabled]="turniejForm.invalid" >Stwórz</button>
      <button routerLink="/turnieje" type="submit" class="btn btn-primary">Wróć do listy turniejów</button>
    </div>

  </div>
</form>