<div class="container text-center" >
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="card bg-light card-body mb-3 text-primary">
        <span class="title"></span>
        <span class="text-muted">
          
          {{nazwaturnieju}}

        </span>

      </div>
    </div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <!-- START TOURNAMENT BRACKET -->
  <!-- ROW 01 -->
  <div class="row">
    <!-- #1 SEED / TOP (TOP-LT) -->
    <div class="col-lg-2 team-top">
      <span class="seed-lt">1 </span>
      <span></span>
      <span class="text-muted pad-rt">

        {{poz1}}

      </span>

    </div>
    <div class="col-lg-1">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-1">
      <br>
    </div>
    <!-- #2 SEED / TOP (TOP-RT) -->
    <div class="col-lg-2 team-top">
      <span></span>
      <span class="text-muted pad-lt">

          {{poz2}}

      </span>
      <span class="seed-rt"> 2</span>
    </div>
  </div>
  <!-- ROW 02 -->
  <div class="row">
    <div class="col-lg-2 vs-lt">vs</div>
    <!-- QUARTER-FINAL TEAM / TOP (TOP-LT) -->
    <div class="col-lg-1 team-top">
      <span></span>
      <span class="text-muted pad-rt">

        {{q1}}

      </span>

    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <!-- QUARTER-FINAL TEAM / TOP (TOP-RT) -->
    <div class="col-lg-1 team-top">
      <span></span>
      <span class="text-muted pad-lt">

       {{q2}}

      </span>

    </div>
    <div class="col-lg-2 vs-rt">vs</div>
  </div>
  <!-- ROW 03 -->
  <div class="row">
    <!-- #16 SEED / BOT (TOP-LT) -->
    <div class="col-lg-2 team-bt-lt">
      <span class="seed-lt">16 </span>
      <span></span>
      <span class="text-muted pad-rt">

          {{poz16}}

      </span>

    </div>
    <div class="col-lg-1 vs-lt">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-1 vs-rt">
      <br>
    </div>
    <!-- #15 SEED / BOT (TOP-RT) -->
    <div class="col-lg-2 team-bt-rt">
      <span></span>
      <span class="text-muted pad-lt">

          {{poz15}}

      </span>
      <span class="seed-rt"> 15</span>
    </div>
  </div>
  <!-- ROW 04 -->
  <div class="row">
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-1 vs-lt">vs</div>
    <!-- SEMI-FINAL TEAM / TOP (TOP-LT) -->
    <div class="col-lg-2 team-top">
      <span></span>
      <span class="text-muted pad-rt">

        {{sf1}}

      </span>

    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <!-- SEMI-FINAL TEAM / TOP (TOP-RT) -->
    <div class="col-lg-2 team-top">
      <span></span>
      <span class="text-muted pad-lt">

        {{sf2}}

      </span>

    </div>
    <div class="col-lg-1 vs-rt">vs</div>
    <div class="col-lg-2">
      <br>
    </div>
  </div>
  <!-- ROW 05 -->
  <div class="row">
    <!-- #8 SEED / TOP (MID-LT) -->
    <div class="col-lg-2 team-top">
      <span class="seed-lt">8 </span>
      <span></span>
      <span class="text-muted pad-rt">

          {{poz8}}

      </span>

    </div>
    <div class="col-lg-1 vs-lt">
      <br>
    </div>
    <div class="col-lg-2 vs-lt">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2 vs-rt">
      <br>
    </div>
    <div class="col-lg-1 vs-rt">
      <br>
    </div>
    <!-- #7 SEED / TOP (MID-RT) -->
    <div class="col-lg-2 team-top">
      <span></span>
      <span class="text-muted pad-lt">

          {{poz7}}

      </span>
      <span class="seed-rt"> 7</span>
    </div>
  </div>
  <!-- ROW 06 -->
  <div class="row">
    <div class="col-lg-2 vs-lt">vs</div>
    <!-- QUARTER-FINAL TEAM / BOT (TOP-LT) -->
    <div class="col-lg-1 team-bt-lt">
      <span></span>
      <span class="text-muted pad-rt">

       {{q3}}

      </span>

    </div>
    <div class="col-lg-2 vs-lt">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2 vs-rt">
      <br>
    </div>
    <!-- QUARTER-FINAL TEAM / BOT (TOP-RT) -->
    <div class="col-lg-1 team-bt-rt">
      <span></span>
      <span class="text-muted pad-lt">

        {{q4}}

      </span>

    </div>
    <div class="col-lg-2 vs-rt">vs</div>
  </div>
  <!-- ROW 07 -->
  <div class="row">
    <!-- #9 SEED / BOT (MID-LT) -->
    <div class="col-lg-2 team-bt-lt">
      <span class="seed-lt">9 </span>
      <span></span>
      <span class="text-muted pad-rt">

          {{poz9}}

      </span>

    </div>
    <div class="col-lg-1">
      <br>
    </div>
    <div class="col-lg-2 vs-lt">
      <br>
    </div>
    <!-- CHAMPIONSHIP / TOP (MID) -->
    <div class="col-lg-2 team-top">
      <span></span>
      <span class="text-muted">

        {{fi1}}

      </span>

    </div>
    <div class="col-lg-2 vs-rt">
      <br>
    </div>
    <div class="col-lg-1">
      <br>
    </div>
    <!-- #10 SEED / BOT (MID-RT) -->
    <div class="col-lg-2 team-bt-rt">
      <span></span>
      <span class="text-muted pad-lt">

          {{poz10}}

      </span>
      <span class="seed-rt"> 10</span>
    </div>
  </div>
  <!-- ROW 08 -->
  <div class="row">
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-1">
      <br>
    </div>
    <div class="col-lg-2 vs-lt">vs</div>
    <div class="col-lg-2">vs</div>
    <div class="col-lg-2 vs-rt">vs</div>
    <div class="col-lg-1">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
  </div>
  <!-- ROW 09 -->
  <div class="row">
    <!-- #5 SEED / TOP (MID-LT) -->
    <div class="col-lg-2 team-top">
      <span class="seed-lt">5 </span>
      <span></span>
      <span class="text-muted pad-rt">

          {{poz5}}

      </span>

    </div>
    <div class="col-lg-1">
      <br>
    </div>
    <div class="col-lg-2 vs-lt">
      <br>
    </div>
    <!-- CHAMPIONSHIP / BOT (MID) -->
    <div class="col-lg-2 team-bt-only">
      <span></span>
      <span class="text-muted">

        {{fi2}}

      </span>

    </div>
    <div class="col-lg-2 vs-rt">
      <br>
    </div>
    <div class="col-lg-1">
      <br>
    </div>
    <!-- #6 SEED / TOP (MID-RT) -->
    <div class="col-lg-2 team-top">
      <span></span>
      <span class="text-muted pad-lt">

          {{poz6}}

      </span>
      <span class="seed-rt"> 6</span>
    </div>
  </div>
  <!-- ROW 10 -->
  <div class="row">
    <div class="col-lg-2 vs-lt">vs</div>
    <!-- QUARTER-FINAL TEAM / TOP (BOT-LT) -->
    <div class="col-lg-1 team-top">
      <span></span>
      <span class="text-muted pad-rt">

        {{q5}}

      </span>

    </div>
    <div class="col-lg-2 vs-lt">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2 vs-rt">
      <br>
    </div>
    <!-- QUARTER-FINAL TEAM / TOP (BOT-RT) -->
    <div class="col-lg-1 team-top">
      <span></span>
      <span class="text-muted pad-lt">

        {{q6}}

      </span>

    </div>
    <div class="col-lg-2 vs-rt">vs</div>
  </div>
  <!-- ROW 11 -->
  <div class="row">
    <!-- #12 SEED / BOT (MID-LT) -->
    <div class="col-lg-2 team-bt-lt">
      <span class="seed-lt">12 </span>
      <span></span>
      <span class="text-muted pad-rt">

          {{poz12}}

      </span>

    </div>
    <div class="col-lg-1 vs-lt">
      <br>
    </div>
    <div class="col-lg-2 vs-lt">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2 vs-rt">
      <br>
    </div>
    <div class="col-lg-1 vs-rt">
      <br>
    </div>
    <!-- #11 SEED / BOT (MID-RT) -->
    <div class="col-lg-2 team-bt-rt">
      <span></span>
      <span class="text-muted pad-lt">

          {{poz11}}

      </span>
      <span class="seed-rt"> 11</span>
    </div>
  </div>
  <!-- ROW 12 -->
  <div class="row">
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-1 vs-lt">vs</div>
    <!-- SEMI-FINAL TEAM / BOT (BOT-LT) -->
    <div class="col-lg-2 team-bt-lt">
      <span></span>
      <span class="text-muted pad-rt">

        {{sf3}}

      </span>

    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <!-- SEMI-FINAL TEAM / BOT (BOT-RT) -->
    <div class="col-lg-2 team-bt-rt">
      <span></span>
      <span class="text-muted pad-lt">

        {{sf4}}

      </span>

    </div>
    <div class="col-lg-1 vs-rt">vs</div>
    <div class="col-lg-2">
      <br>
    </div>
  </div>
  <!-- ROW 13 -->
  <div class="row">
    <!-- #4 SEED / TOP (BOT-LT) -->
    <div class="col-lg-2 team-top">
      <span class="seed-lt">4 </span>
      <span></span>
      <span class="text-muted pad-rt">

          {{poz4}}

      </span>

    </div>
    <div class="col-lg-1 vs-lt">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-1 vs-rt">
      <br>
    </div>
    <!-- #3 SEED / TOP (BOT-RT) -->
    <div class="col-lg-2 team-top">
      <span></span>
      <span class="text-muted pad-lt">

          {{poz3}}

      </span>
      <span class="seed-rt"> 3</span>
    </div>
  </div>
  <!-- ROW 14 -->
  <div class="row">
    <div class="col-lg-2 vs-lt">vs</div>
    <!-- QUARTER-FINAL TEAM / BOT (BOT-LT) -->
    <div class="col-lg-1 team-bt-lt">
      <span></span>
      <span class="text-muted pad-rt">

        {{q7}}

      </span>

    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <!-- QUARTER-FINAL TEAM / BOT (BOT-RT) -->
    <div class="col-lg-1 team-bt-rt">
      <span></span>
      <span class="text-muted pad-lt">

        {{q8}}

      </span>

    </div>
    <div class="col-lg-2 vs-rt">vs</div>
  </div>
  <!-- ROW 15 -->
  <div class="row">
    <!-- #13 SEED / BOT (BOT-LT) -->
    <div class="col-lg-2 team-bt-lt">
      <span class="seed-lt">13 </span>
      <span></span>
      <span class="text-muted pad-rt">

          {{poz13}}

      </span>

    </div>
    <div class="col-lg-1">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-2">
      <br>
    </div>
    <div class="col-lg-1">
      <br>
    </div>
    <!-- #14 SEED / BOT (BOT-RT) -->
    <div class="col-lg-2 team-bt-rt">
      <span></span>
      <span class="text-muted pad-lt">

          {{poz14}}

      </span>
      <span class="seed-rt"> 14</span>
    </div>
  </div>
  <!-- CHAMPION DISPLAY ROW -->
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="card  bg-primary">
        <div class="card-header text-white">Zwycięzca</div>
        <div class="card-body bg-white ">
          
          <span class="text-black">

            {{zwyciezca}}

          </span>

        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
