<body>
<div class="wrap-all">
	<span class="navigation-toggle">
		<span></span>
		<span></span>
		<span></span>
	</span>

	<nav class="navigation" role="navigation">
		<h1 routerLink="/homepage" class="logo">
			MENU
		</h1>
	<ul>
		<li><a routerLink="/homepage">Strona główna</a></li>
		<li><a routerLink="/panelsedziego">Zawody(aka_pan_sedziego)</a></li>
		<li><a href="" >O nas(form_i_lis_turn)</a></li>
		<li><a routerLink="/zarzadzanie">Kontakt(zarzadzanie)</a></li>
		<li><a routerLink="/login" data-toggle="modal" data-target="#exampleModal">Zaloguj się</a></li>
	</ul>
	</nav>
</div>

<!-- MENU DESKTOPOWE -->

<nav id="global-nav">
	 <div class="buttons">
		<a routerLink="/homepage"><img src="https://image.ibb.co/cxqoSH/bjj.png" class="logo" alt="logo" border="0"></a>
		 <a routerLink="/homepage" class="btn btn-outline-primary" role="button">Strona główna</a>	
		<a routerLink="/turnieje" class="btn btn-outline-primary" role="button">Zawody</a>     					
		   <a href="" routerLink="/kontakt" class="btn btn-outline-primary" role="button">Kontakt</a>   					
		<a routerLink="/zarzadzanie" class="btn btn-outline-primary" role="button">Zarządzanie</a>
         <a routerLink="/login" class="btn btn-outline-primary" role="button" data-toggle="modal" data-target="#exampleModal">Zaloguj się</a>
		<!-- <p class="lead"><a [routerLink]="['/register']" class="btn btn-primary btn-lg">Rejestracja</a></p> -->
	 </div>
</nav>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
     				 <div class="modal-header">
       				 	<h5 class="modal-title" id="exampleModalLabel">Zaloguj się</h5>
        			 	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
         			 	<span aria-hidden="true">&times;</span>
       				 	</button>
      				 </div>
      				 <div class="modal-body">
       					 <div class="col-md-6 col-md-offset-3">
    
							<app-login></app-login>

                        </div>
     				 </div>
      				 <div class="modal-footer">
						<a class="btn btn-outline-primary" data-toggle="modal" routerLink="/homepage" role="button" data-dismiss="modal">Zaloguj się</a>
						<!-- <a data-toggle="modal" data-target="#exampleModale" class="btn btn-outline-danger" role="button">Zarejestruj się</a> -->

      				 </div>
    			</div>
 		 	</div>
		</div>
		
		<div class="modal fade" id="exampleModale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rejestracja</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        	<form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Nazwa użytkownika</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.firstName" required />
            
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="username">Hasło</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.Email.$dirty && form.Email.$error.required }">
            <label for="Email">Adres e-mail</label>
            <input type="text" name="Email" id="Email" class="form-control" ng-model="vm.user.Email" required />
            
        </div>
                    
        
        <div class="form-actions">
            <a class="btn btn-outline-primary" data-toggle="modal" routerLink="/homepage" role="button" data-dismiss="modal" ng-disabled="form.$invalid || vm.dataLoading">Zarejestruj się</a>
            
            
        </div>
    </form>
      </div>
      
    </div>
  </div>
</div>
    
    
    
</body>

			
	