/* You can add global styles to this file, and also import other style files */
body{
	margin-top: 200px;
    
}
.loading {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 50px;
	color: #a32222;
	
}	

    .loading span {
        opacity: 0;
        animation: loading 3s linear infinite alternate;
    }

@keyframes loading {
    to {
        opacity: 1;
    }
}

.loading span:nth-child(2) {
    animation-delay: 0.25s;
}

.loading span:nth-child(3) {
    animation-delay: 0.5s;
}

.loading span:nth-child(4) {
    animation-delay: 0.75s;
}

.loading span:nth-child(5) {
    animation-delay: 1s;
}

.loading span:nth-child(6) {
    animation-delay: 1.25s;
}
.loading span:nth-child(7) {
    animation-delay: 1.5s;
}

.loading span:nth-child(8) {
    animation-delay: 2s;
}

.loading span:nth-child(9) {
    animation-delay: 2.25s;
}

.loading span:nth-child(10) {
    animation-delay: 2.5s;
}

.loading span:nth-child(11) {
    animation-delay: 2.75s;
}
.loading span:nth-child(12) {
    animation-delay: 3s;
}
.loadingpage{
	margin-top: 20%;
}

