<!-- <form #turniejForm="ngForm" (ngSubmit)="ladujZawodnikow()"> -->
<div align="center">
  <div class="form-group" align="center" style="width:20%">
    <label for="exampleFormControlSelect1">Wybierz pas</label>
    <select class="form-control" id="selectBelt" name="selectBelt" #selectBelt="ngModel" ngModel>
      <option *ngFor="let pas of pasy | async" [value]="pas.id">{{pas.id}}</option>
    </select>
  </div>
  <div class="form-group" align="center" style="width:20%">

    <label for="exampleFormControlSelect1">Wybierz kategorie</label>
    <select class="form-control" id="selectWeight" #selectWeight="ngModel" ngModel>
      <option *ngFor="let waga of wagi | async" [value]="waga.id">{{waga.id}}</option>
    </select>
  </div>
</div>


<div class="row ">
  <div class="col-sm-2 ">
    <button class="btn btn-outline-primary" (click)="ladujZawodnikow(selectWeight.value,selectBelt.value)"> Ładuj zawodnków </button>
  </div>


  <div class="btn-group col-sm-2">

    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Podgląd zawodników
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" *ngFor="let zap of zawodnicy ">{{zap.nazwa}}</a>
    </div>
  </div>

</div>



<div class="row">
  <div style="text-align: center" class="col-sm-6 ">
    <button class="btn btn-outline-primary" (click)="wygral(1)"> Wygral </button>

    <h1 class="display-4">{{zawodnik1 }}</h1>

  </div>

  <div style="text-align: center" class="col-sm-6">
    <button class="btn btn-outline-primary" (click)="wygral(2)"> Wygral </button>

    <h1 class="display-4">{{zawodnik2 }}</h1>

  </div>
</div>

<!-- 
<button class="btn btn-primary" (click)="wygral(1)"> Wygral {{zawodnik1}} </button>
<button class="btn btn-primary" (click)="wygral(2)"> Wygral {{zawodnik2}} </button> -->

<div class="col-sm-12 ">
  <h1 style="text-align: center">{{wyswietlPara }}</h1>
</div>




<div style="float: left;" class="col-sm-6">


  <!-- duze punkty -->
  <div class="row">
    <div class="col-sm">

      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik1(1)'>+1 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik1(2)'>+2 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik1(3)'>+3 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik1(4)'>+4 </button>
    </div>
    <div class="col-sm">
      <h1 class="display-4">Punkty</h1>
    </div>
    <div class="col-sm">

      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik1(-1)'>-1 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik1(-2)'>-2 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik1(-3)'>-3 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik1(-4)'>-4 </button>
    </div>
    <!-- <div style="clear: both;"></div> -->
  </div>

  <div>
    <h1 class="display-1" style="text-align: center">{{duzePunktyZawodnik1}}</h1>
  </div>

  <!-- przewagi i kary -->
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <button class="btn btn-light btn-sm" (click)='zwiekszPrzewagiZawodnik1(1)'>+1 </button>
        </div>
        <div class="col-sm">
          <h1 class="display-4">przewagi</h1>
        </div>
        <div class="col-sm">
          <button class="btn btn-light btn-sm" (click)='zwiekszPrzewagiZawodnik1(-1)'>-1 </button>
        </div>
      </div>
      <div>
        <h1 class="display-4 col-sm " style="text-align: center">{{przewagiZawodnik1}}</h1>
      </div>

    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <button class="btn btn-light btn-sm" (click)='zwiekszKaryZawodnik1(1)'>+1 </button>
        </div>
        <div class="col-sm">
          <h1 class="display-4">Kary</h1>
        </div>
        <div class="col-sm">
          <button class="btn btn-light btn-sm" (click)='zwiekszKaryZawodnik1(-1)'>-1 </button>
        </div>
      </div>
      <div>
        <h1 class="display-4" style="text-align: center">{{karyZawodnik1}}</h1>
      </div>
    </div>

  </div>

</div>

<div style="float: left;" class="col-sm-6">



  <!-- duze punkty -->
  <div class="row">
    <div class="col-sm">

      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik2(1)'>+1 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik2(2)'>+2 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik2(3)'>+3 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik2(4)'>+4 </button>
    </div>
    <div class="col-sm">
      <h1 class="display-4">Punkty</h1>
    </div>
    <div class="col-sm">

      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik2(-1)'>-1 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik2(-2)'>-2 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik2(-3)'>-3 </button>
      <button class="btn btn-light btn-sm" (click)='zwiekszDuzeZawodnik2(-4)'>-4 </button>
    </div>
    <!-- <div style="clear: both;"></div> -->
  </div>

  <div>
    <h1 class="display-1" style="text-align: center">{{duzePunktyZawodnik2}}</h1>
  </div>

  <!-- przewagi i kary -->
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <button class="btn btn-light btn-sm" (click)='zwiekszPrzewagiZawodnik2(1)'>+1 </button>
        </div>
        <div class="col-sm">
          <h1 class="display-4">przewagi</h1>
        </div>
        <div class="col-sm">
          <button class="btn btn-light btn-sm" (click)='zwiekszPrzewagiZawodnik2(-1)'>-1 </button>
        </div>
      </div>
      <div>
        <h1 class="display-4 col-sm " style="text-align: center">{{przewagiZawodnik2}}</h1>
      </div>

    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <button class="btn btn-light btn-sm" (click)='zwiekszKaryZawodnik2(1)'>+1 </button>
        </div>
        <div class="col-sm">
          <h1 class="display-4">Kary</h1>
        </div>
        <div class="col-sm">
          <button class="btn btn-light btn-sm" (click)='zwiekszKaryZawodnik2(-1)'>-1 </button>
        </div>
      </div>
      <div>
        <h1 class="display-4" style="text-align: center">{{karyZawodnik2}}</h1>
      </div>
    </div>

  </div>

</div>


<div style="clear: both;"></div>
<div>

  <!-- zegar -->
  <h1 class="display-1" style="text-align: center">{{ZegarCzas}}</h1>
</div>
<!-- przyciski do zegarka -->
<div>
  <button class="btn btn-light btn-sm" (click)='StartStop()'>{{btnZegar}}</button>
  <button class="btn btn-light btn-sm" (click)='zresetujZegarIpunkty()'>Reset</button>

</div>