<div class="lista" *ngFor="let turnie of turnieje | async ">
    <div class="Row" [routerLink]="['/turnieje', turnie.id]" >
            <div class="table-responsive"> 
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th class="col-sm">{{turnie.nazwa}}</th>
                                <!-- <td class="col-sm">{{turnie.opis}}</td> -->
                                <th class="col-sm">{{turnie.miejsce}}</th>
                                <th class="col-sm">{{ turnie.kiedy | date:'shortDate' }}</th>
                                <!-- <td class="col-sm">{{turnie.do_kiedyrej | date}}</td> -->
                            </tr>
                        </tbody>
                </table>
            </div> 
    </div>
</div>