<div class="lista" *ngFor="let turnie of turnieje | async ">
    <div *ngIf="turnie.tworca === tworca" class="table-responsive"> 
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="col-sm">{{turnie.nazwa}}</td>
                    <td class="col-sm">{{turnie.miejsce}}</td>
                    <td class="col-sm">{{ turnie.kiedy | date:'shortDate' }}</td>
                </tr>
            </tbody>
        </table>
   
    
    </div>     
</div>