.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 5px; /*Optional*/
    
}
.Column
{
    
    align-content: center;
    display: table-cell;
    
}
.Row:hover {
    cursor: pointer;
}