<div class="col-md-4" align="center" style="width: 50%;margin: auto;">
  <h2>Rejestracja</h2>
  <form name="form"  #f="ngForm" >
      <div class="form-group" >
          <label for="user_name">Nazwa Użytkownika</label>
          <input type="text" class="form-control" name="user_name"  />
          
      </div>
      <div class="form-group" >
          <label for="e_mail">Adres e-mail</label>
          <input type="text" class="form-control" name="e_mail"   />
          
      </div>
      <div class="form-group">
          <label for="password">Hasło</label>
          <input type="text" class="form-control" name="password"   />
      </div>
      <div class="form-group" >
          <label for="password_potwierdz">Potwierdz hasło</label>
          <input type="text" class="form-control" name="password_potwierdz" />
      </div>
      <div class="form-group">
          <button [disabled]="" class="btn btn-primary">Zarejestruj</button>
          
          <a [routerLink]="['/homepage']" class="btn btn-link">Anuluj</a>
      </div>
  </form>
</div>
