
<div class="col-md-4" align="center" style="width: 50%;margin: auto;">
  <h2>Rejestracja</h2>
  <form ngForm #f="ngForm" >
      <div class="form-group" >
          <label for="username">Nazwa Użytkownika</label>
          <input type="text" class="form-control" id="username" #username = "ngModel" name="username" ngModel 
          required 
          id="username" />
          
      </div>    
      <div class="form-group" >
          <label for="email">Adres e-mail</label>
          <input type="text" class="form-control" id="email" #email = "ngModel" name="email"  ngModel 
          required 
          id="email" />
          
      </div>
      <div class="form-group">
          <label for="password">Hasło</label>
          <input type="text" class="form-control" id="password" #password = "ngModel" name="password" ngModel 
          required 
          id="password"  />
      </div>
      <div class="form-group" >
          <label for="passwordpotwierdz">Potwierdz hasło</label>
          <input type="text" class="form-control" name="passwordpotwierdz" #passwordpotwierdz = "ngModel" ngModel 
          required 
          id="passwordpotwierdz"/>
      </div>
      <div class="form-group">
          <button  [disabled]="!f.form.valid" (click)="nvm(f)" type = "submit" class="btn btn-primary">Zarejestruj</button>
          
          <button [routerLink]="['/homepage']" class = "btn btn-primary" >Anuluj</button>
          
        </div>
        
  </form>
</div>
<!-- {{f.value|json}} -->
